body {
    font-family: 'Fredoka', sans-serif;
    color: #264143;
}

.modal-title {
    font-family: 'Fredoka', sans-serif;
}

.text-pink {
    font-family: 'Fredoka', sans-serif;
}

button {
    font-family: 'Fredoka', sans-serif;
}

.modal-title {
    color: #e89fc1;
    font-weight: bold;
    font-size: 35px;
}

.input-group-text {
    color: #de5499;
}

.price {
    color: #de5499;
}

.yourbid {
    color: #f9f9f9;
}

.circle-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #264143;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rank-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e89fc1;
    margin-right: 10px;
}

.modal {
    position: fixed;
}

.modal-header {
    background-color: #f2beb9;
}

.yourbidbody {
    background-color: #e89fc1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 0% 0% 2% 2%;
}