src/styles/EditProfile.css

.edit-profile-container {
    background-color: #f3ddda;
    min-height: 100vh;
    padding: 16px;
    text-align: center;
  }
  
  .edit-profile-title {
    color: red;
  }
  
  .card-container {
    padding: 16px;
    margin: 12px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .change-profile-btn {
    margin-top: 8px;
    color: black;
    border: none;
    background: none;
  }
  
  .change-bio-title {
    text-align: start;
  }
  
  .textarea-bio {
    margin: 8px 0;
  }
  
  .change-btn {
    text-align: end;
    color: red;
    border: none;
    background: none;
  }
  
  .back-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: white;
    border: none;
    font-size: 16px;
  }
  