.cs-color-btn:active {
    border-color: #DE5499;
    box-shadow: 4px 4px 10px #DE5499;
}

.cs-color-btn {
    background-color: #F2EBE9;
}

.cs-color-btn-Search:active {
    border-color: #DE5499;
    box-shadow: 4px 4px 10px #DE5499;
}

.cs-color-btn-Search:hover {
    background-color: #F2EBE9;
}

.cs-color-btn-Search {
    background-color: #F2EBE9;
}

.cs-color-Search {
    background-color: #F2EBE9;
}

.masonry-layout{
    column-gap: 1.5em; /* เพิ่มช่องว่างระหว่างคอลัมน์ */
    row-gap: 2em; /* เพิ่มช่องว่างระหว่างแถว */
    padding: 0 2em;
}

.masonry-item{
    break-inside: avoid;
    margin-bottom: 1.5em;/* เพิ่มช่องว่างด้านล่างของแต่ละโพสต์ */
    box-sizing: border-box;
    padding: 10px; /* เพิ่ม padding ภายในแต่ละการ์ด */
}

@media (min-width:576px){
    .masonry-layout{
        column-count: 2;
    }
}

@media (min-width:768px){
    .masonry-layout{
        column-count: 4;
    }
}

.card {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
    padding: 15px;
    border-radius: 0px;
    background: #F9F9F9;
    padding-bottom: 0px;
    align-items:flex-start;
}

.card-user {
    display: flex;
    flex-direction: column;
    color:#0000007f;
    padding-bottom: 0;
}

.card-title {
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.card-body {
    text-align: left;
    align-items: flex-start;
}

.c-card-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #DE5499; 
    font-size: 15px;
}

.c-card-like {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #DE5499; 
    font-size: 24px;
}

.c-card-number {
    position: absolute;
    color: #DE5499; 
}

.card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
}

.card-details .text-primary.fw-bold {
    font-size: 16px;
}

.card-user h5 {
    margin: 0;
    font-size: 18px;
}

.card-img-top {
    border: none; 
    border-radius: 0px; 
}

.d-inline {
    color: #0000007f;
}