.cs-color-btn:active {
    border-color: #DE5499;
    box-shadow: 4px 4px 10px #DE5499;
}

.cs-color-btn {
    background-color: #F2EBE9;
}

.cs-color-btn-Search:active {
    border-color: #DE5499;
    box-shadow: 4px 4px 10px #DE5499;
}

.cs-color-btn-Search:hover {
    background-color: #F2EBE9;
}

.cs-color-btn-Search {
    background-color: #F2EBE9;
}

.cs-color-Search {
    background-color: #F2EBE9;
}

.masonry-layout{
    column-gap: 1em;
}

.masonry-item{
    break-inside: avoid;
    margin-bottom: 1em;
    box-sizing: border-box;
}

@media (min-width:576px){
    .masonry-layout{
        column-count: 2;
    }
}

@media (min-width:768px){
    .masonry-layout{
        column-count: 4;
    }
}

.c-card-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #DE5499; 
    font-size: 24px;
}

.c-card-like {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #DE5499; 
    font-size: 24px;
}

.c-card-number {
    position: absolute;
    top: 10px;
    right: 50px;
    color: #DE5499; 
    font-size: 24px;
}