.container1 {
    display: flex;
    background: #f0dfda;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    background-color: #f0dfda;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    margin: 0;               
    padding: 0;              
}

.title1 {
    color: #2d3e3f;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center; 
    justify-content: flex-start;
}

.form1 {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.iconuser {
    margin-right: 10px;
}

.iconpass {
    margin-right: 10px;
}

.input1 {
    border: none;
    outline: none;
    flex: 1;
}

.buttonsign {
    background: #2d3e3f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background: #1f2b2c;
}