.cs-color{
    background-color: #264143;
    color: white;
}
.cs-color:hover{
    background-color: #264143d5;
    color: white;
}
.bg-lightpink {
    background-color: #fce7eb;
}

.border-pink {
    border-color: #e573a4;
    border-width: 2px;
}

.text-pink {
    color: #e573a4;
}
.signup-title {
    margin-top: -50px; /* ขยับขึ้น */
}